*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .demo {
    padding: 50px;
    border:1px solid #ccc;
    font-weight:bold;
    color: red;
    background:#d0d0d0;
    font-size:20px;
    line-height:1.5;
    text-align:center;
  }

  .demo h1 { font-size:72px;  text-transform:uppercase; margin-bottom:0px;}
  .char1,
  #demo1 .word1,
  .line1 { color: red; }
  .char2,
  #demo2 .word2,
  .line2 { color: orange; }
  .char3,
  .word3,
  .line3 { color: yellow; }
  .char4,
  .line4 { color: blue; }
  .char5 { color: green; }
  .char6 { color: indigo; }
  .char7 { color: violet; }

body {
  margin: 0;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #1c1b1b;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f9f9f9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 26%;
}

/* Middle column */
.column.middle {
	
	vertical-align:center;
    width: 43%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/*Datatables */
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}